$borderWidth: 1px;
$squareSize: 10px;

.calendar-container {
	display: flex;
	justify-content: center;
}

.day {
	width: $squareSize;
	height: $squareSize;
	background-color: #a00;
	margin: 1px;
	border: $borderWidth solid transparent;
	box-sizing: content-box;
	background-clip: padding-box;

	&.completed {
		background-color: #0b0;
	}

	&.current {
		border: $borderWidth solid #000;
	}

	&.future {
		background-color: #bbb;
	}
}

.month {
	display: flex;
	flex-direction: column;
}